* {
  margin: 0px;
  padding: 0px;
  background-color: #dbe8fc;
}

body {
  border-width: medium;
  border-style: solid;
  width: 70%;
  height: 80%;
  margin: 10% 15%;
  background-color: #c6d7ef;
}

a {
  text-decoration: none;
}

.navBox {
  margin: 10px 10px 25px 10px;
  border-style: solid;
  border-width: 1.5px;
}
.navBox > .contentTitle {
  padding: 0px;
  float: right;

}
.navBox > .navMenu {
  margin: 15px 10px;
  float: left;
}

.navBox > .navMenu > ul {
  list-style-type: none;

}
.navBox > .navMenu > ul > li {
  margin: 10px;
  display: inline;
  font-size: 18px;
}
.navBox > .contentTitle {
  float: none;
  text-align: right;
  margin: 10px 20px 10px 10px;
  padding: 0px;

}

.navBox > .navMenu > ul > a {
  display: block;
  margin-left: 15px;
}
section {
  background-color: #c6d7ef;
  margin: 80px 20px 40px 40px;
}
section > .sectionContent {
  background-color: #c6d7ef;
}

section > .sectionContent > .menuBlock {
  margin: 0px;
  padding: 0px;
  width: 40%;
  background-color: #c6d7ef;
  width: 40%;
}
section > .sectionContent > .menuBlock > ul {
    list-style-type: none;
    background-color: #c6d7ef;
}
section > .sectionContent > .menuBlock > ul > li {
  margin: 10px 20px 10px 20px;
  background-color: #c6d7ef;
  font-size: 24px;
}

section > .sectionContent > .menuBlock > ul > li > a{
  background-color: #c6d7ef;
  text-decoration: none;
}

section > .sectionContent > .imgBlock {
    float: right !important;
    margin: 10px 20px;
}

section > .sectionContent > .imgBlock > img {
  height: 150px;
  width: 150px;
}
